<header class="site-header">
  <div class="container">
    <div class="site-header-inner">
      <div class="brand header-brand">
        <h1 class="m-0">
          <a class="header-logo" href="#">
            <img src="/assets/img/readysight-logo--white.svg"/>
          </a>
        </h1>
      </div>
      <ul class="header-links list-reset m-0">
        <!-- <li>
          <a href="#">Login</a>
        </li> -->
        <!-- <li>
          <a class="button button-sm button-shadow" href="#">Contact</a>
        </li> -->
      </ul>
    </div>
  </div>
</header>