<section class="hero text-light text-center">
  <div class="container-sm">
    <div class="hero-inner">
        <h1 class="hero-title h2-mobile mt-0 is-revealing text-white">We are ReadySight Fields Services</h1>
        <p class="hero-paragraph is-revealing text-white">We are a new company in the field service space. Yadda yadda yadda</p>
        <p class="hero-cta is-revealing text-white"><a class="button button-secondary button-shadow" href="#">Contact Us</a></p>
        <div class="hero-media is-revealing">This can be the section we use to display whatever contact information and additional text.</div>
      </div>
    </div>
  </div>
</section>